@import url('https://fonts.googleapis.com/css?family=Poppins');
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 4rem;
    }
    .bd-carousel {
        width: 22rem;
        height: auto;
        margin: 6rem auto 2rem auto;
    }
    hr {
        height: 0.5px;
        width: 15rem;
        background-color: rgba(36, 67, 158, 0.336);
    }
    .header {
        text-align: center;
        margin: auto auto 3rem auto;
    }
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 8rem;
    }
    .bd-carousel {
        width: auto;
        height: auto;
        margin: 7rem auto 7rem auto;
        padding-left: 7rem;
        padding-right: 7rem;
    }
    hr {
        height: 0.5px;
        width: 68rem;
        background-color: rgba(36, 67, 158, 0.336);
    }
    .header {
        text-align: center;
        margin: auto auto 7rem auto;
    }
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #24429E;
    text-shadow: rgba(0, 0, 0, 0.377) 0.1em 0.1em 0.2em;
}

#carouselExampleControls {
    -webkit-box-shadow: -2px 18px 56px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 18px 56px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 18px 56px -1px rgba(0, 0, 0, 0.75);
}