<section >
  <div class="container py-3">
    <div class="card">
      <div class="tar row ">
        <div class="col-md-4">
          <img
            src="https://scontent-mia3-2.xx.fbcdn.net/v/t1.0-1/p160x160/17953023_1292381860853973_1936480994639912503_n.jpg?_nc_cat=101&_nc_ht=scontent-mia3-2.xx&oh=5e2a14d5d65a578ec6ef414e0809dad5&oe=5D68C2B2"
            class="w-100">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title">German Rodríguez</h4>
            <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. </p>
            <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.</p>

          </div>
        </div>

        

      </div>
    </div>

    <div class="card">
      <div class="tar row ">
        <div class="im col-md-4">
          <img
            src="https://scontent-mia3-2.xx.fbcdn.net/v/t1.0-1/p160x160/22886092_10212587578475979_7792757082461960836_n.jpg?_nc_cat=107&_nc_ht=scontent-mia3-2.xx&oh=a0a57a3553e7eec8d268939bf0dd292b&oe=5D6ED877"
            class="w-100">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title">Santiago Rodríguez</h4>
            <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. </p>
            <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.</p>

          </div>
        </div>

        

      </div>
    </div>

    <div class="card">
      <div class="tar row ">
        <div class="col-md-4">
          <img
            src="https://scontent-mia3-2.xx.fbcdn.net/v/t1.0-1/p160x160/17953023_1292381860853973_1936480994639912503_n.jpg?_nc_cat=101&_nc_ht=scontent-mia3-2.xx&oh=5e2a14d5d65a578ec6ef414e0809dad5&oe=5D68C2B2"
            class="w-100">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title">Juan Herrera</h4>
            <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. </p>
            <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.</p>

          </div>
        </div>

        

      </div>
    </div>

  </div>
</section>