<section>
    <div class="container py-3">
        <div class="card">
            <div class="tar row ">
                <div class="col-md-4">
                    <img src="https://i.imgur.com/A5ByzQG.jpg" class="w-100">
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <h4 class="card-title">German Rodríguez Gutierrez</h4>
                        <p class="card-text">Estudiante de Ingenieria en Multimedia - Séptimo semestre</p>
                        <p class="card-text">Universidad Militar Nueva Granada - Bogotá.</p>

                        <div class="form-goup">

                            <a href="https://www.facebook.com/german.rodriguezgutierrez.9" class="btn btn-block btn-social btn-facebook" tabindex="-1" role="button" aria-disabled="true" target="_blank"> <span class="fa fa-facebook"> FACEBOOK</span>
                            </a>

                        </div>


                    </div>
                </div>



            </div>
        </div>

        <div class="card">
            <div class="tar row ">
                <div class="im col-md-4">
                    <img src="https://i.imgur.com/N97UGEG.jpg" class="w-100">
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <h4 class="card-title">David Santiago Rodríguez Saveedra</h4>
                        <p class="card-text">Estudiante de Ingenieria en Multimedia - Séptimo semestre</p>
                        <p class="card-text">Universidad Militar Nueva Granada - Bogotá.</p>

                        <div class="form-goup">

                            <a href="https://www.facebook.com/Sago3198" class="btn btn-block btn-social btn-facebook" tabindex="-1" role="button" aria-disabled="true" target="_blank"> <span class="fa fa-facebook"> FACEBOOK</span>
                            </a>

                        </div>

                    </div>
                </div>



            </div>
        </div>

        <div class="card">
            <div class="tar row ">
                <div class="col-md-4">
                    <img src="https://i.imgur.com/rq2eIeT.jpg" class="w-100">
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <h4 class="card-title">Juan Camilo Herrera Marquéz</h4>
                        <p class="card-text">Estudiante de Ingenieria en Multimedia - Décimo semestre</p>
                        <p class="card-text">Universidad Militar Nueva Granada - Bogotá.</p>

                        <div class="form-goup">

                            <a href="https://www.facebook.com/german.rodriguezgutierrez.9" class="btn btn-block btn-social btn-facebook" tabindex="-1" role="button" aria-disabled="true" target="_blank"> <span class="fa fa-facebook"> FACEBOOK</span>
                            </a>

                        </div>

                    </div>
                </div>



            </div>
        </div>

    </div>
</section>