<section id="info" class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-12" *ngFor="let inf of info">
        <div class="">
          <div class="">
            <div class="card-body text-right">
              <p>
                <img class="img-fluid" src="{{inf.imagen}}" alt="{{inf.titulo}}">
              </p>
              <div class = "card-body col-md-12">
              <h4 routerLink="/inf/{{inf.id}}" class="card-title">{{inf.titulo}}</h4>
              <p class="card-text">
                {{inf.descripcion}}
              </p>
            </div>
              <div class="container-precio-idioma">
                <p class="badge badge-info">
                  {{inf.autor}}
                </p>
                <p class="badge badge-info">
                  {{inf.idioma}}
                </p>
              </div>
              <a href="details" class="btn btn-block btn-primary" target="_blank">Más</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-carousel></app-carousel>
<app-coments></app-coments>
