<section id="info">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_info">
          <div class="card">
            <div class="card-body text-center">
              <p><img class=" img-fluid" src="{{inf.imagen}}" alt="{{inf.titulo}}"></p>
              <h4 class="card-title">{{inf.titulo}}</h4>
              <p class="card-text">
                {{inf.descripcion}}
              </p>
              <a href="#" target="_blank" class="btn btn-block btn-primary">Más</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>