@media (min-width: 18.75rem){
    .container {
        max-width: 115rem;
    }}
  .container {
    margin: auto 2rem auto 2rem !important;
  }
  
  
  .conte{
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 25px;
   margin-bottom: 25px;
    text-align: justify;
  }
  h4.title{
    font-weight: bold;
    font-size: 30px;
    color: #007bff;
    cursor: pointer;
    margin-bottom: 10px;
    border-bottom: #007bff94 1px outset;
    
  }
  .texto{
    font-size: 17px;
    cursor: text;
    
  }
  
  .badge{
    float: right;
  }
  .card{
    -webkit-box-shadow: -4px 10px 39px -9px rgba(0,0,0,0.86);
  -moz-box-shadow: -4px 10px 39px -9px rgba(0,0,0,0.86);
  box-shadow: -4px 10px 39px -9px rgba(0,0,0,0.86);
  }
  