.form-control.login-user {
    border: 0 solid #fff !important;
  }

  #login{
    margin-top:7rem;
  }

  .btn-social{
position: relative;
text-align: center;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
border-color: rgba(0, 0, 0, 0.2);
color: #fff;
  }

  .btn-facebook{
background: #3b5998;
  }

  .btn-google{
    background: #dd4b39;
      }

      section{
        margin-bottom: 9rem;
      }