<div class="container">

    <div class="row">

        <div class="col-md-12 col-xs-12 ">

            <h1>Puntos de alquiler </h1>

            <p class="lead">Selecciones el punto para obtener más información acerca de los lugares de alquiler de medios de transporte alternativo. (<b>Recargar página para ver mapa</b>)</p>

        </div>

    </div>

</div>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.5118915984363!2d-74.04572968474932!3d4.6807193431326155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a90cb9178bf%3A0x6e610b1c52a58d9d!2sMUVO!5e0!3m2!1ses-419!2sco!4v1559862990778!5m2!1ses-419!2sco"
    width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
</iframe>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.389469893985!2d-74.04417838474937!3d4.702213842952545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9ab26ea0240f%3A0x96607cc537204acd!2sUnicentro+Bogot%C3%A1!5e0!3m2!1ses-419!2sco!4v1559867730752!5m2!1ses-419!2sco"
    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>




<agm-map [latitude]="lat3" [longitude]="lng3" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">


    <agm-marker [latitude]="lat" [longitude]="lng">

        <agm-info-window [disableAutoPan]="true">
            <h4>Grin</h4>
            <div class="info-content">
                Creemos que la unión hace la fuerza, es por eso que buscamos <br>que nuestra comunidad crezca y se mantenga unida mediante <br>una comunicación constante. </div>
        </agm-info-window>

    </agm-marker>

    <agm-marker [latitude]="lat2" [longitude]="lng2">

        <agm-info-window [disableAutoPan]="true">
            <h4>Muvo</h4>
            <div class="info-content">
                Creemos que la unión hace la fuerza, es por eso que buscamos <br>que nuestra comunidad crezca y se mantenga unida mediante <br>una comunicación constante. </div>
        </agm-info-window>

    </agm-marker>
    <agm-marker [latitude]="lat3" [longitude]="lng3">

        <agm-info-window [disableAutoPan]="true">
            <h4>Biking Bogotá</h4>
            <div class="info-content">
                Con opciones de 4hs y 8hs es la opción perfecta si estás<br> en una conexión aérea o simplemente tienes unas pocas horas para conocer la ciudad, además, somos<br> la oficina de alquiler más cercana a lugares como el Aeropuerto ElDorado
                o el Parque Simón Bolívar. </div>
        </agm-info-window>

    </agm-marker>
    <agm-marker [latitude]="lat4" [longitude]="lng4">

        <agm-info-window [disableAutoPan]="true">
            <h4>Muvo</h4>
            <div class="info-content">
                Creemos que la unión hace la fuerza, es por eso que buscamos <br>que nuestra comunidad crezca y se mantenga unida mediante <br>una comunicación constante. </div>
        </agm-info-window>

    </agm-marker>
    <agm-marker [latitude]="lat5" [longitude]="lng5">

        <agm-info-window [disableAutoPan]="true">
            <h4>Biking Bogotá</h4>
            <div class="info-content">
                Con opciones de 4hs y 8hs es la opción perfecta si estás<br> en una conexión aérea o simplemente tienes unas pocas horas para conocer la ciudad, además, somos<br> la oficina de alquiler más cercana a lugares como el Aeropuerto ElDorado
                o el Parque Simón Bolívar. </div>
        </agm-info-window>

    </agm-marker>
    <agm-marker [latitude]="lat6" [longitude]="lng6">

        <agm-info-window [disableAutoPan]="true">
            <h4>Grin</h4>
            <div class="info-content">
                Creemos que la unión hace la fuerza, es por eso que buscamos <br>que nuestra comunidad crezca y se mantenga unida mediante <br>una comunicación constante. </div>
        </agm-info-window>

    </agm-marker>
    <agm-marker [latitude]="lat7" [longitude]="lng7">

        <agm-info-window [disableAutoPan]="true">
            <h4>Grin</h4>
            <div class="info-content">
                Creemos que la unión hace la fuerza, es por eso que buscamos <br>que nuestra comunidad crezca y se mantenga unida mediante <br>una comunicación constante. </div>
        </agm-info-window>

    </agm-marker>
    <agm-marker [latitude]="lat8" [longitude]="lng8">

        <agm-info-window [disableAutoPan]="true">
            <h4>Muvo</h4>
            <div class="info-content">
                Creemos que la unión hace la fuerza, es por eso que buscamos <br>que nuestra comunidad crezca y se mantenga unida mediante <br>una comunicación constante. </div>
        </agm-info-window>

    </agm-marker>
    <agm-marker [latitude]="lat9" [longitude]="lng9">

        <agm-info-window [disableAutoPan]="true">
            <h4>Biking Bogotá</h4>
            <div class="info-content">
                Con opciones de 4hs y 8hs es la opción perfecta si estás<br> en una conexión aérea o simplemente tienes unas pocas horas para conocer la ciudad, además, somos<br> la oficina de alquiler más cercana a lugares como el Aeropuerto ElDorado
                o el Parque Simón Bolívar. </div>
        </agm-info-window>

    </agm-marker>

</agm-map>

<div class="contenedor container-fluid px-4">
    <h2><b>Compañias de alquiler certificadas.</b></h2><br>

    <br>
    <div class="row">
        <div class="col-sm-4"><img src="https://i.imgur.com/f8TS5wT.jpg" class="d-block w-100"></div>
        <div class="col-sm-4"><img src="https://i.imgur.com/7yDoqMm.jpg" class="d-block w-100"></div>
        <div class="col-sm-4"><img src="https://i.imgur.com/51givRi.jpg" class="d-block w-100"></div>

    </div>
    <br>
    <div class="row">
        <div id="one" class="card col-md-4 col-sm-12"><br>
            <a href="http://www.bikingbogota.com/renta-de-bicicletas-en-bogota/ " target="_blank">Biking Bogota</a>
            <h6>Uno de los mejores centros de alquiler de bicicletas.</h6>


            <p> Debido al auge de las bicicletas las personas comenzaron a buscar lugares donde las alquilaran por horas o días y es así como en Biking Bogotá creamos un sistema de renta de bicicletas en Bogotá que fuera cómodo y económico para todos.</p>
            <p>
                Para alquilar tu bicicleta te sugerimos:<br> Realizar la solicitud con al menos 1 día previo a la fecha escogida en el botón “Reserva Ahora”.<br> Verificada la disponibilidad te enviaremos una solicitud de pago al correo registrado a través
                de nuestro aliado Pay U para confirmar tu reserva.<br></p><br>
        </div>
        <div id="dos" class="card col-md-4 col-sm-12"><br>
            <a href="https://ongrin.com/es-CO/" target="_blank">Grin Scooters</a>
            <h6>El centro de alquiler de scooter más famoso en Bogotá.</h6>


            <p> Somos una comunidad de movilidad diferente. Conectamos personas de manera simple, divertida y ecológica. <br><br>Utiliza nuestra app para encontrar un Grin cerca de donde estás. <br>Escanéa el código, sube al patín e impúlsate para iniciar
                tu viaje<br>Circula por las ciclovías donde estén disponibles y usa casco.</p>

            <br>
        </div>
        <div id="tres" class="card col-md-4 col-sm-12"><br>
            <a href="https://muvo.bike/" target="_blank">MUVO</a>
            <h6>El centro de alquiler de bicis que se está haciendo notar.</h6>


            <p> Utiliza la app para encontrar una MUVO cerca de donde estás y desbloquea la bici por medio del escaneo del código QR en el candado. <br><br>Tienes la opción de utilizar el modo eléctrico o convencional. Deja la bici en los bicicleteros públicos
                autorizados o en la estación de carga más cercana a tu destino. Cierra el candado manualmente y así terminarás tu viaje.<br></p>

            <br>
        </div>
    </div>
</div>