@import url('https://fonts.googleapis.com/css?family=Gugi');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

section {
   margin-top: 6rem;
    background: #fff;
    margin-bottom: 5rem;
  }
  .profile-header {
    background: #007bff;
    height: 150px;
  }
  .user-detail {
    margin: -50px 0 30px 0;
  }
  .name{
    font-family: 'Gugi', cursive;
    font-size: 1.5rem;
    text-align: center;
  }
  span, p{
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
  }

  
  img {
    height: 100px;
    width: 100px;
  }
  .user-details h5 {
    margin: 15px 0 5px 0;
  }